.inputFieldCls {
  display: inline-block;
  padding-block-start: 0.4rem;
  padding-block-end: 0.4rem;
  padding-inline-start: 0.5rem;
  border-start-start-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
  border-width: 1px;
  font-size: 1.5rem;
  width: 60vw;
}

.submitButtonCls {
  background-color: #35a50e;
  border: 0.5rem solid #35a50e;
  border-start-end-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .inputFieldCls {
    width: 30vw;
  }
}