.pageNumber {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected {
  background-color:black;
  color: white;
}
